.background{
  background-image: url("./../../assets/svg/vector.svg");
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: contain;
  display: flex;
  padding: 72px;
  flex: 1;
  background-repeat: no-repeat;
}
.logo_container{
  width: 38VW;
  background: rgba(255, 255, 255, 0.5);
  border: 8px solid rgba(150, 150, 150, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:0px 6px 40px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 60px;
  height: 58vh;
  margin-top: 11.5vh;
  margin-left: 31vw;
}
.container{
  overflow-x: hidden;
  width:100vw;
}
.holder{
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}
